{% extends 'base.html' %}
{% load static %}
{% if not hide_navbar %}
<nav class="navbar navbar-expand-lg bg-dark navbar-custom">
    <div class="container-fluid">
      <a class="navbar-brand nav-link active " href="#">IagoBlog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2 custom-input" type="search" placeholder="Procurar" aria-label="Procurar">
          <button class="btn btn-custom" type="submit">Procurar</button>
        </form>
      </div>
    </div>
  </nav>
{% endif %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'app/css/login_register.css' %}">
</head>
<body class="login-page">
    {% block content %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
    <p>Não tem uma conta? <a href="{% url 'register' %}">Registre-se</a></p>
    {% endblock %}
</body>
</html>