body{
    background-color: #1B1B1B ;
    font-family: 'Manrope', sans-serif;   

}


/* Personalizando scroll da página Sobre */

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background-color: #1B1B12;
}
::-webkit-scrollbar-thumb{
    background-color: #4E4FEB;
    border-radius: 5px;
}



div.container h2.titulo {
    color: #4E4FEB; /* Cor do título, você pode alterar para a cor desejada */
    font-size: 30px; /* Tamanho da fonte do título */
    font-weight: bold; /* Negrito */
    margin-top: 20px; /* Espaço superior */
    margin-bottom: 30px;
}

/* Estilo para os parágrafos */
.container p {
    color: #4E4FEB; /* Cor do texto dos parágrafos */
    font-size: 18px; /* Tamanho da fonte dos parágrafos */
    margin-top: 10px; /* Espaço superior entre os parágrafos */
}
