

body{
    background-color: #1B1B1B;
    font-family: 'Manrope', sans-serif;
    
}
/* CONFIGURAÇÕES NAV */

nav{
    border: #4E4FEB;
}
.navbar {
    font-family: 'Manrope', sans-serif;
}
.nav-link{
    color: #4E4FEB;
    font-size: 20px;
}
.nav-link.active {
    color: #4E4FEB; 
}
.nav-link:hover {
    color: #068FFF;
}
.navbar-brand{
    font-size: 35px;
}
/* Barra pesquisa */
.custom-input {
    background-color: #1B1B1B; 
    color: #fff; 
    border: none;
  }
  
.custom-input::placeholder {
    color: #4E4FEB; 
}
.custom-input:focus {
    background-color: #1B1B1B;
    color: #4E4FEB;
    border: none;
}
/* Botão da barra de pesquisa */
.btn-custom{
    background-color: #4E4FEB; 
    color: #fff; 
}
.btn-custom:hover {
    background-color: #068FFF; 
    color: #fff;
}



/* Configurando Card dos posts pagina inicial */

.card {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #4E4FEB;
    border-color: #4E4FEB;
    border-width: 2px;
}

.card img{
    width: 300px; 
    height: auto;
    float: right;
    margin: 5px;
}

.card-text{
    color: #068FFF;
}
.custom-underline {
    border-bottom: 2px solid #4E4FEB;
    margin-bottom: 2px; 
    padding-bottom: 2px; 
}