
body{
    background-color: #1B1B1B;
    font-family: 'Manrope', sans-serif;
}
/* Configurações nav */

nav{
    border: #4E4FEB;
}
.navbar {
    font-family: 'Manrope', sans-serif;
    /* position: fixed;
    top: 0;
    width: 100%;
    z-index: 100; */
    width: 100%;
}
.nav-link{
    color: #4E4FEB;
    font-size: 20px;
}
.nav-link.active {
    color: #4E4FEB; 
}
.nav-link:hover {
    color: #068FFF;
}
.navbar-brand{
    font-size: 35px;
}
/* Barra pesquisa */
.custom-input {
    background-color: #1B1B1B; 
    color: #fff; 
    border: none;
  }
  
.custom-input::placeholder {
    color: #4E4FEB; 
}
.custom-input:focus {
    background-color: #1B1B1B;
    color: #4E4FEB;
    border: none;
}
/* Botão da barra de pesquisa */
.btn-custom{
    background-color: #4E4FEB; 
    color: #fff; 
}
.btn-custom:hover {
    background-color: #068FFF; 
    color: #fff;
}



/* Configurando Card dos posts pagina inicial */

.card {
    margin: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #4E4FEB;
    border-color: #4E4FEB;
    border-width: 2px;
}

.card img{
    width: 300px; 
    height: auto;
    float: right;
    margin: 5px;
}

.card-text{
    color: #068FFF;
}
.custom-underline {
    border-bottom: 2px solid #4E4FEB;
    margin-bottom: 2px; 
    padding-bottom: 2px; 
}

/* Botão de Post */


.floating-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 60px; 
    height: 60px; 
    background-color: #4E4FEB;
    border-radius: 50%; 
    text-align: center;
    line-height: 60px; 
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.3s; 
    overflow: hidden;
  }

  /* Estilo do ícone */
  .floating-button::before {
    content: '\f2c7'; 
    font-family: 'Ionicons'; 
    font-size: 24px;
    color: #fff;
    display: block;
  }

  /* Estilo do texto (inicialmente oculto) */
  #button-text {
    display: none;
    font-size: 14px;
    color: #fff;
    transition: display 0.3s; 
  }

  /* Efeito de expansão no hover */
  .floating-button:hover {
    width: 150px;
    border-radius: 10px; 
  }

  /* Exibe o texto no hover e oculta o ícone */
  .floating-button:hover::before {
    content: ""; 
  }
  .floating-button:hover #button-text {
    display: inline; 
  }


/* PERFIL POSSIVELMENTE MUDANDO ISSOO DE LUGAR EM BREVE */
/* Personalize o fundo do perfil */
.profile-card {
    color: #4E4FEB;
    padding: 10px;
    margin: 10px;
}

/* Personalize o fundo dos cards de posts */


/* Personalizando scroll */

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background-color: #1B1B12;
}
::-webkit-scrollbar-thumb{
    background-color: #4E4FEB;
    border-radius: 5px;
}
h2{
    color: #068FFF;
}