
body{
    background-color: #1B1B1B;
    font-family: 'Manrope', sans-serif;
}




/* Configurando Card dos posts pagina inicial */

.card {
    border: 2px solid;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 3px 3px 6px #4E4FEB;
    border-color: #4E4FEB;
    border-width: 2px;
    overflow: hidden;
}

.card img {
    width: 300px;
    height: 200px;
    max-height: 300px;
    object-fit: cover;
    margin: 5px;
}

.card-text{
    color: #068FFF;
}
.custom-underline {
    border-bottom: 2px solid #4E4FEB;
    margin-bottom: 2px; 
    padding-bottom: 2px; 
}

/* Notificação ao criar o Post */
.notification {
    display: none;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4E4FEB;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease;
  }

/* PERFIL POSSIVELMENTE MUDANDO ISSOO DE LUGAR EM BREVE */
/* Personalize o fundo do perfil */
.profile-card {
    color: #4E4FEB;
    padding: 10px;
    margin: 10px;
}

/* Personalizando o fundo dos cards de posts */


/* Personalizando scroll */

::-webkit-scrollbar{
    width: 13px;
}
::-webkit-scrollbar-track{
    background-color: #1B1B12;
}
::-webkit-scrollbar-thumb{
    background-color: #4E4FEB;
    border-radius: 5px;
}
