{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Sobre o Blog</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque in, saepe laboriosam quia deserunt officiis modi quas quis ipsa neque, voluptatum at expedita nobis vero deleniti commodi aliquam dolore dolorum?</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur nemo excepturi dolore, quos dignissimos optio ab reprehenderit quisquam libero. Itaque vitae similique cum consequatur consectetur reiciendis assumenda nostrum! Rem, labore!</p>
            </div>
        </div>
    </div>
{% endblock %}