{% load static %}
{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meu Perfil</title>
    <!-- Outras tags meta, links, ou scripts podem ser adicionados aqui -->
</head>
<body>
    <div class="container mt-4">
        <h2 class="profile-card mb-4">Meu Perfil - {{ request.user.username }}</h2>
        <a href="{% url 'logout' %}" class="btn btn-custom btn-sair float-end mb-4">Sair</a>

        <h3 class="profile-card mb-3">Meus Posts:</h3>
        <div class="row">
            {% for post in user_posts %}
                <div class="col-md-6 mb-4">
                    <div class="post">
                        <img src="{{ post.image.url }}" alt="{{ post.title }}" class="post-image">
                        <div class="post-content">
                            <h5 class="post-title">{{ post.title|slice:":23" }}{% if post.title|length > 25 %}...{% endif %}</h5>
                            <p class="post-text">{{ post.content|slice:":25" }}{% if post.content|length > 25 %}...{% endif %}</p>
                            <div class="post-buttons">
                                <a href="{% url 'post_detail' post.slug %}" class="btn btn-custom">Ver mais</a>
                                <a href="{% url 'edit_post' post.id %}" class="btn btn-edit">Editar</a>
                                <form id="deleteForm{{ post.id }}" method="post" action="{% url 'delete_post' post.id %}" style="display: inline;">
                                    {% csrf_token %}
                                    <button type="button" class="btn btn-delete" onclick="confirmDelete('{{ post.title }}', '{{ post.id }}')">Excluir</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% block extrastyles %}
    <link rel="stylesheet" href="{% static 'app/css/user_profile.css' %}">
    {% endblock %}
    <script src="{% static 'app/js/scripts.js' %}" defer></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</body>
</html>